.all-suggested-words{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content:space-around; */
  height:150px;
  width: 350px;
  background-color: aliceblue;
  overflow: hidden;
  border: 2px solid black;
  margin: 12px 0 12px 0;
  border-radius: 1.4em;
  color: #000;
  overflow: scroll;
}

ul{
  list-style:none;
  text-align: center;
}
  
ul li{
  float:left;
  padding:3%;
}

ul li:nth-child(3n+1){
  clear:both;
}

