@import url("https://fonts.googleapis.com/css2?family=Solway:wght@700&display=swap");

body {
  font-family: "Solway", serif;
  background-color: #faa6a4;
  color: black;
}

input {
  border-color: #c68482;
  border-width: 0.1em;
  background-color: transparent;
  color: transparent;
  font-weight: 400;
  border-radius: 1.5em;
  text-align: center;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.letters-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solver-container {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-row {
  display: flex;
}

.white-box {
  margin: 0px 15px 15px 15px;
  width: 250px;
  height: 250px;
  background-color: white;
  border: 3px solid black;
}

.button {
  border-radius: 1.5em;
  height: 3em;
  width: 136px;
  align-content: center;
  border: 1px solid black;
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  letter-spacing: 0.01em;
  background-color: black;
}

.solution-suggestions h3 {
  text-decoration: underline;
}

#top-row-container {
  position: relative;
  margin-bottom: 14px;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
}

#top-row-label {
  color: black;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 25px;
  width: 250px;
}

#top-row-container input {
  position: absolute;
  height: 25px;
  width: 250px;
  background: transparent;
}

#left-side-container {
  position: relative;
}

#left-side-label {
  color: black;
  width: fit-content;
  height: fit-content;
  min-height: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 250px;
  width: 25px;
}

#left-side-container input {
  position: absolute;
  height: 250px;
  width: 25px;
  margin: 0 12px 0 12px;
  background: transparent;
}

#right-side-container {
  position: relative;
}

#right-side-label {
  color: black;
  width: fit-content;
  height: fit-content;
  min-height: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 250px;
  width: 25px;
}

#right-side-container input {
  position: absolute;
  height: 250px;
  width: 25px;
  margin: 0 12px 0 12px;
  background: transparent;
}

#bottom-row-container {
  position: relative;
}

#bottom-row-label {
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 25px;
  width: 250px;
}

#bottom-row-container input {
  position: absolute;
  height: 25px;
  width: 250px;
  background: transparent;
}
