@import url("https://fonts.googleapis.com/css2?family=Solway:wght@700&display=swap");

body {
  font-family: "Solway", serif;
  background-color: #faa6a4;
  color: black;
}

input {
  border-color: #c68482;
  border-width: 0.1em;
  background-color: transparent;
  color: transparent;
  border-radius: 1.4em;
}

::placeholder {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 34px;
  color: rgba(3, 3, 3, 0.3);
  letter-spacing: 1.7em;
  text-indent: 1.2em;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 34px;
  color: white;
  letter-spacing: 1.7em;
  text-align: center;
  width: 250px;
  height: 40px;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.letters-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solver-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 400px;
}

.middle-row {
  display: flex;
}

.white-box {
  background-color: white;
  border: 3px solid black;
  margin: 0px 15px 15px 15px;
  width: 250px;
  height: 250px;
}

.row-of-circles {
  letter-spacing: 3em;
  text-indent: 3em;
}

.button {
  background-color: black;
  border: 1px solid black;
  border-radius: 1.5em;
  align-content: center;
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  letter-spacing: 0.01em;
  width: 136px;
  height: 3em;
}

.solution-suggestions h3 {
  text-decoration: underline;
}

#top-row-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

#top-row-label {
  text-indent: 1.2em;
}

#top-row-container input {
  position: absolute;
  background: transparent;
  height: 40px;
  width: 250px;
}

#top-row-circles {
  position: relative;
  top: -13px;
}

#left-side-container {
  position: relative;
}

#left-side-label {
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 250px;
  width: 40px;
  text-indent: 0.3em;
}

#left-side-container input {
  position: absolute;
  background: transparent;
  margin: 105px 0px 0 0px;
  height: 40px;
  width: 250px;
  transform: rotate(-90deg);
}

#left-row-circles {
  position: relative;
  top: 103px;
  left: -51%;
  transform: rotate(-90deg);
}

#right-side-container {
  position: relative;
}

#right-side-label {
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 250px;
  width: 40px;
  text-indent: 0.3em;
}

#right-side-container input {
  position: absolute;
  background: transparent;
  margin: 105px 0px 0 0px;
  height: 40px;
  width: 250px;
  transform: rotate(90deg);
}

#right-side-container input::placeholder {
  padding-top: 34px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 34px;
  color: rgba(3, 3, 3, 0.3);
  letter-spacing: 1.7em;
  text-indent: 1.2em;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#right-row-circles {
  position: relative;
  top: 70px;
  right: -51%;
  transform: rotate(90deg);
}

#bottom-row-container {
  position: relative;
}

#bottom-row-label {
  position: relative;
  width: 250px;
  text-indent: 1.2em;
}

#bottom-row-container input {
  position: absolute;
  background: transparent;
  height: 40px;
  width: 250px;
}

#bottom-row-circles {
  position: relative;
  bottom: -177px;
}
