@import url('https://fonts.googleapis.com/css2?family=Solway:wght@700&display=swap');

body {
  font-family: 'Solway', serif;
  background-color: #faa6a4;
  color: black;
}

.main-page-container{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.solver-container{
  width:320px;
  height:320px;
  background-color: white;
  border: 2px solid black;
}