.single-suggested-words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100px;
  width: 350px;
  background-color: aliceblue;
  overflow: hidden;
  border: 2px solid black;
  margin: 12px 0 12px 0;
  border-radius: 1.4em;
}

.single-suggested-words li {
  text-decoration: none;
}

.single-suggested-words h4 {
  margin-top: 0px;
  margin-bottom: 8px;
  text-decoration: underline;
}
