.trios-of-suggested-words{
  height:auto;
  max-height: 400px;
  width: 350px;
  background-color: aliceblue;
  border: 2px solid black;
  margin: 12px 0 12px 0;
  border-radius: 1.4em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  align-content: center;
  text-align: center;
}

.trios-of-suggested-words ul{
  display: inline-block;
  text-align: left;
  list-style:none;
}

.trios-of-suggested-words li{
  text-decoration: none;
}

.trios-of-suggested-words h4{
  margin-bottom: 8px;
  text-decoration: underline;
}

.trios-of-suggested-words td {
  text-align: center;
  height: 27px;
}